.create-ride-main-container {
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    padding: 24px;
}

.create-ride-form-container {
    background-color: white;
    min-width: 200px;
    max-width: 500px;
    margin: auto;
    padding: 24px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0.5px solid rgba(100, 100, 111, 0.2);
}

.create-ride-form-container > h2 {
    margin-bottom: 48px;
}

.create-ride-form-input {
    display: flex;
    flex-direction: column;
    margin: 12px 0px;
}

.create-ride-form-input > label {
    font-size: 0.9em;
    font-weight: 600;
    margin: 8px 0px;
    font-weight: bold;
}
.create-ride-form-input > label > span {
    font-weight: 500;
    font-size: 0.8em;
    opacity: 0.6;
    margin-left: 4px;
}

.create-ride-form-input > input, .create-ride-form-input > select {
    padding: 12px;
    border: 1px solid rgba(14, 30, 37, 0.186);
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: 400;
}
.create-ride-form-input > textarea {
    margin-bottom: 24px;
}